<div class="jumbotron">

	<center>
		<h1>Welcome to my Donut Shop!</h1>

		<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ7bGvRXANZPIpLKLijo7_FfNZ94GxF4XlV_WZnOEaBV6PxQTsFhA">
		<br>

		<%= link_to "Check out our Donuts!", donuts_path, class: "btn btn-default" %>
	</center>
</div>